.card{
    margin-top: 10px;
}
.text{
    margin-left: 10px;
}
span{
    color: #289BDE;
}
/* .btn-cour{
    align-items: center;
} */
.btn-light{
    display: inline-block;
    margin-top: 50px;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
}